body {
  text-align: center;
  font-family: Arial;
}

.container {
  border: 5px solid rgb(32, 221, 42);
  text-align: center;
}

.container .container-title {
  font-size: 14px;
}

.container #cabecera {
  background-color: darkmagenta;
  color: white;
}

#footer {
  background-color: #797676;
  padding: 10px;
  color: white;
}